/* CSS Variables */

@import url(partials/_variables.css);

/* global styling */

@import url(partials/_global.css);

/* start navigation */  

.header-area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 1rem;
}

.header-area .main-menu .navbar{
    padding: 1rem 6rem;
}

.header-area .main-menu .nav-item .nav-link{
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header-area .main-menu .navbar-nav .active a, .header-area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* end navigation */

/* banner area  */

 .banner-title{
    padding-top: 30%;
    font-size: 3.25rem;
    font-weight: 700;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 4px;
 }

 .banner-subtitle{
    font-size: 1.5rem;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.4;
 }

 .banner-title, .banner-subtitle {
    padding-bottom: 20px; 
 }

 .banner-image{
    padding: 5rem 0;
    width: 90rem;  
    height: 35rem;
 }

/* end banner area */

/* about area */

.about-info{
    padding-left: 1.0rem;
    padding-top: 6rem;
}

.about-paragraph{
    line-height: 2.25rem;
}

/* end about area */

/* skills section starts */

.skills{
    padding: 1.5rem 0;
    transition: box-shadow .7s ease;
}

.skills:hover{
    box-shadow: var(--box-shadow);
}

/* skills section ends */

/* portfolio section starts here */

    .projects a.img {
        max-height: 120px;
        max-width: 200px;
    }

    #tk-logo {
        padding-top: 3.5rem;
    }

    #skt-logo {
        padding-top: 4.0rem;
    }

/* portfolio section ends here  */

/* contact section starts here  */

    textarea {
        resize: none;
    }

    .contact {
        background: var(--gradient-color);
        margin: 0 auto;
    }

    .contact h4 {
        color: #eee;
        font-weight: bold;
        letter-spacing: 5px;
        font-size: 2rem;
    }

    .btn-success:hover {    
        background: transparent;
        border: 1px solid #4bb543;
        color: #4bb543;
    }

/* contact section ends here  */

/* footer section starts here */

    .footer-title {
        letter-spacing: 2px;
    }

    .social-link {
        font-size: 2rem;
        padding: 0rem 0.5rem 0rem 0.5rem;
    }

    .social-link > i {
        color: darkgray;
    }

    .social-link > i:hover {
        color: var(--gradient-color);
    }

/* footer section ends here  */

/* miscellaneous starts here */
    .card-title {
        font-weight: bold;
    }

    section {
        padding: 3.75rem 0rem;
    }

    .section-title {
        text-align: center;
        padding-top: 0;
        font-weight: bold;
    }

/* miscellaneous ends here  */

/* responsiveness for all devices */

@media only screen and (min-width: 1280px){
    .section-title{
        letter-spacing: 5px;
    }
}

@media only screen and (min-width: 1024px){
    .about-image{
        height: 35rem;
    }
}

@media only screen and (max-width: 1023px){
    .header-area .main-menu .navbar{
        padding: 1rem 0.5rem;
    }
    .banner-title{
        font-size: 2.75rem;
        padding-top: 0;
        text-align: center;
        line-height: 1.4;
        letter-spacing: 0px;
    }
    .banner-subtitle{
        font-size: 1.35rem;
        line-height: 1.6;
    }
    .banner-image {
        padding: 2.5rem 0;
        height: auto;
    }
    
    .about-info {
        padding-top: 0;
    }

    .button-center{
        margin: 0 auto;
    }

    #tk-logo, #skt-logo {
        padding-top: 2.5rem;
    }

    #skt-logo {
        max-width: 250px;
    }
}

@media only screen and (max-width:568px){

    section {
        padding: 2.25rem 0rem;
    }
    .section-title{
        text-align: center;
        font-size: 2.0rem;
    }
    .about-image {
        height: 20rem;
        margin: 0rem 0rem 4rem 0rem;
    }
}

@media only screen and (max-width: 320px){

    .banner-title{
        padding-top: 0%;
        font-size: 2.25rem;
    }
    .button-center{
        margin: 0 auto;
    }
    .section-title {
        text-align: center;
        font-size: 1.75rem;
    }
    .contact h4 {
        font-size: 1.5rem;
    }
}

/* Bouncing image animation */

.bounce-image{
    animation-name: bounce-image;
    animation-duration: 3.0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transform-origin: bottom;
}

@keyframes bounce-image{
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); } 
}