/* import fonts for google fonts */

@import url(./fonts.css);

/* CSS Variables */

@import url(partials/_variables.css);

/* global styling */

@import url(partials/_global.css);

/* start navigation */  

.header-area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 1rem;
}

.header-area .main-menu .navbar{
    padding: 1rem 6rem;
}

.header-area .main-menu .nav-item .nav-link{
    font: normal 500 16px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header-area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header-area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* end navigation */


/* banner area  */

 .site-main .site-banner .site-title h3{
    padding-top: 22.5%;
    font-weight: 500;
 }

 .site-main .site-banner .site-title h3::after{
    content: "";
    height: 2px;
    width: 25vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px)
 }

 .site-main .site-banner .site-title h1{
    font-size: 3.25rem;
 }

 .site-main .site-banner .site-title h4{
    font-size: 1.5rem;
 }

 .site-main .site-banner .banner-image > img {
    padding: 5rem 0;
    width: 90rem;  
    height: 35rem;
 }

 .title-text{
    font: normal bold 50px/72px var(--roboto);
 }

/* end banner area */

/* about area */

.about-title{
    padding-left: 1.0rem;
}

.about-title-text{
    padding-top: 6rem;
    font-weight: bold;
}

.skills-title-text{
    padding-bottom: 1rem;
}

.about-paragraph{
    line-height: 2.25rem;
}

p.para{
    color: var(--text-color);
}

/* end about area */


/* skills section starts */
.site-main .skills-area{
    padding:6rem 0rem;
}

.site-main > .skills-area .skills{
    padding: 1.5rem 0;
    transition: box-shadow .7s ease;
}

.site-main > .skills-area .skills:hover{
    box-shadow: var(--box-shadow);
}
/* skills section ends */

/* responsiveness for all devices */

@media only screen and (min-width: 1280px){
    .about-title-text, .skills-title-text{
        letter-spacing: 5px;
    }
}

@media only screen and (min-width: 1024px){
    .about-area .about-image > img {
        height: 35rem;
    }
}

@media only screen and (max-width: 1023px){
    .header-area .main-menu .navbar{
        padding: 1rem 0.5rem;
    }
    .site-main .site-banner .site-title h3{
        padding-top: 10%;
    }
    .site-main .site-banner .site-title h1{
        font-size: 3.75rem;
    }
    .site-main .site-banner .site-title h4{
        font-size: 1.25rem;
    }
    .site-main .site-banner .site-title h3, .site-main .site-banner .site-title h1, .site-main .site-banner .site-title h4{
        text-align: center;
    }
    .site-main .site-banner .banner-image > img {
        padding: 2.5rem 0;
        height: auto;
    }
    .button-center{
        margin: 0 auto;
    }
    .about-title-text{
        text-align: center;
        padding-top: 0;
    }
    a.linkedin-button{
        width: 100%;
    }
}

@media only screen and (max-width:568px){
    .about-title-text, .skills-title-text{
        text-align: center;
        font-size: 2.5rem;
    }
    .about-area .about-image > img {
        height: 20rem;
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 320px){

    .site-main .site-banner .site-title h3{
        padding-top: 15%;
    }
    .site-main .site-banner .site-title h1{
        font-size: 2.75rem;
    }
    .site-main .site-banner .site-title h4{
        font-size: 1.1rem;
    }
    .title-text{
        margin-bottom: 0.5rem;
    }
    .button-center{
        margin: 0 auto;
    }
}


/* Bouncing image animation */

.bounce-image{
    animation-name: bounce-image;
    animation-duration: 3.0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transform-origin: bottom;
}

@keyframes bounce-image{
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); } 
}