.text-uppercase{
    text-transform: uppercase;
}

/* Buttons */

.button{
    padding: .8rem 2.2rem;
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}

.primary-button, .button.portfolio-button-all {
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6s ease;
    box-shadow: var(--box-shadow);
}

.primary-button:hover, .portfolio-button-all:hover{
    background: whitesmoke;
    background-clip: padding-box;
    color: black;
}

.primary-button::after, .secondary-button::after, .portfolio-button-all::after, .portfolio-button::after{
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: var(--gradient-color);
    content: '';
    z-index: -1;
    border-radius: 4px;
}

.secondary-button, .portfolio-button{
    background: white;
    color: black;
    background-clip: padding-box;
    transition: background .6s ease;
}

.secondary-button:hover, .portfolio-button:hover{
    background: var(--gradient-color);
    color: whitesmoke;
    box-shadow: var(--box-shadow);
}